# FastAPI & ASGI
fastapi==0.115.12
uvicorn[standard]==0.34.3
pydantic-settings==2.9.1

# Database
sqlalchemy[asyncio]==2.0.41
asyncpg==0.30.0
alembic==1.15.2

# Authentication
PyJWT==2.10.1
bcrypt==4.3.0

# Scraping
httpx==0.28.1
beautifulsoup4==4.13.4
lxml==5.4.0

# Rate Limiting
slowapi==0.1.9

# Testing
pytest==8.3.5
pytest-asyncio==0.26.0
aiosqlite==0.22.1
# Dev
python-dotenv==1.1.0

# Pydantic Email Support
email-validator==2.3.0

